.Intro {
  gap: 300px;
}

/**/
/* Bodys of the pages (Used in all pages for there body)*/
/**/

.startingBody{
  background-image: url("img/Main.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aboutMeBody{
  background-image: url("img/About.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll
}
.workBody{
  background-image: url("img/Work.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll
}
.ContactBody{
background-image: url("img/Contact.png");
background-size: cover;
background-repeat: no-repeat;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: scroll
}


/**/
/* Text Styleing */
/**/

.bigText{ /* Used im index.html for the big side text */
font-size: 100px;
font-weight: bold;
font-family: Arial, sans-serif;
color: white;
animation: fade-in 3s ease-out;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titeText{ /* Used im all pages for the big top text */
font-size: 90px;
font-weight: bold;
font-family: Arial, sans-serif;
color: white;
padding: 100px;
text-align: center;
padding-top: 20px;
animation: fade-in 3s ease-out;
}

.card-title:hover{
  text-decoration: underline;
}

.card-title { /* Used im all cards across the pages */
color: #ffffff;
}

.card-text { /* Used im all cards across the pages */
color: #dddddd;
display: flex;
align-items: center;
justify-content: center;
}

/**/
/* Card Styleing (Thats noit text) */
/**/

.container {
  display: flex; /* Use flexbox to arrange items horizontally */
  align-items: center; /* Center items vertically within the container */
  justify-content: center; /* Center items horizontally within the container */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card{
  width: 1320px;
  height: 500px;
  align-items: center;
}
.home-card{
  width: 1320px;
  height: 500px;
  align-items: center;
}

.card:hover {
  transform: scale(1.01);
}

.cardGaps{ /* Adds gaps and a animation */
gap: 30px;
animation: slide-up 3s ease;
}

.h-card-custom-about {
height: 500px; /* Set your desired height here */
}

.w-card-custom-about {
width: 1330px; /* Set your desired width here */
}

.btn:hover {
  transform: translateY(-2px);
}

/**/
/* Scroll bar */
/**/

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

/**/
/* Other usefull stuff */
/**/

#navbar {
  opacity: 0;
  transition: opacity 1s ease; /* Add transition to the opacity property */
  cursor: pointer;
  z-index: 11;
}
.disabled-div {
  pointer-events: none; /* Prevent interactions */
  opacity: 0; /* Adjust the opacity to visually indicate it's disabled */
}

/**/
/* Transitions */
/**/

.fullColorAbout{
background-color: #F29F05;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.fullColorMain{
background-color: #F2B705;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.fullColorWork{
background-color: #04BFBF;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.fullColorContact{
background-color: #3C6255;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.startSlide{
  animation: slide-in 0.5s ease-out;
}
.slow{
animation: fade-in 3s ease-out;
}
.slide-in-left{
animation: slide-in-left 0.5s ease-out;
}

/**/
/* Transitions slide up */
/**/
.slideUp{
animation: slide-up 3s ease;
}
.slideUp2{
animation: slide-up 3.5s ease;
}
.slideUp3{
animation: slide-up 4s ease;
}
.slideUp4{
animation: slide-up 4.5s ease;
}
.slideUp5{
animation: slide-up 5s ease;
}

/**/
/* Transitions slide down */
/**/
.slideDown{
animation: slide-down 3s ease;
}
.slideDown2{
animation: slide-down 3.5s ease;
}
.slideDown3{
animation: slide-down 4s ease;
}
.slideDown4{
animation: slide-down 4.5s ease;
}

/**/
/* The animations */
/**/
@keyframes fade-in {
  0% {
    opacity: 0; /* Start with 0% opacity (invisible) */
  }
  100% {
    opacity: 1; /* End with 100% opacity (fully visible) */
  }
}
@keyframes slide-in {
  from {
    transform: translateX(100%); /* Start from 100% of the element's width to the right */
  }
  to {
    transform: translateX(0); /* Slide to the original position (0% offset) */
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(-100%); /* Start from 100% of the element's width to the right */
  }
  to {
    transform: translateX(0); /* Slide to the original position (0% offset) */
  }
}
@keyframes slide-up {
  0% {
    bottom: -1000px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes slide-down {
  0% {
      bottom: 0px;
    }
    100% {
      bottom: -1000px;
    }
}

/**/
/* Make this work on a smaller screen */
/**/

@media screen and (max-width: 1024px) {
  
    .bigText {
      font-size: 30px; /* Adjust the font size for smaller screens */
      align-items: center;
      justify-content: center;
      width: auto;
    }
  
    .w-card-custom, .w-card-custom-about {
      width: 100%; /* Adjust the card width to fit the screen */
    }
  
    .h-card-custom, .h-card-custom-about {
      height: auto; /* Allow the card height to adjust based on content */
    }
  
    .cardGaps {
      gap: 20px; /* Reduce the gap between cards for smaller screens */
    }
  
    .card-title {
      font-size: 24px; /* Adjust the font size for card titles on smaller screens */
    }
  
    .card-text {
      font-size: 16px; /* Adjust the font size for card content on smaller screens */
    }

    .card{
      min-width: 900px;
      max-width: 900px;
      min-height: 600px;
      transform: translate(0%, 100%);
    }
  
    /* Show the navbar on smaller screens */
    .navbar {
      opacity: 1;
      scale: auto;
    }

    .phone-hide{
      opacity: 0;
      font-size: 0px;
    }

    .navbar{
      transform-origin: center center;
    }

    .navbar{
      display: flex;
      justify-content: center; /* Center the buttons horizontally */
      align-items: center;
      font-size: 16px; /* Adjust font size for smaller screens */
    }

    .bigText {
      font-size: 0px; /* Adjust the font size for smaller screens */
    }

    .container{
      display: flex;
      flex-direction: column;
    }

    .titeText{
      font-size: 140px;
    }

    @keyframes slide-up {
      0% {
        bottom: 0px;
      }
      100% {
        bottom: 0px;
      }
    }
    @keyframes slide-down {
      0% {
          bottom: 0px;
        }
        100% {
          bottom: 0px;
        }
    }
}
@media screen and (max-height: 700px){
    .bigText {
      font-size: 30px; /* Adjust the font size for smaller screens */
      padding-top: 50px;
      width: auto;
    }

    .bigText {
      font-size: 30px; /* Adjust the font size for smaller screens */
    }
  
    .cardGaps {
      gap: 20px; /* Reduce the gap between cards for smaller screens */
    }
  
    .card-title {
      font-size: 20px; /* Adjust the font size for card titles on smaller screens */
    }
  
    .card-text {
      font-size: 14px; /* Adjust the font size for card content on smaller screens */
    }
  
    /* Show the navbar on smaller screens */
    #navbar {
      opacity: 1;
    }
}
@media screen and (max-height: 630px){
    .bigText {
      font-size: 30px; /* Adjust the font size for smaller screens */
      padding-top: 50px;
    }

    .card-title {
      font-size: 10px; /* Adjust the font size for card titles on smaller screens */
    }
  
    .card-text {
      font-size: 7px; /* Adjust the font size for card content on smaller screens */
    }
  
    /* Show the navbar on smaller screens */
    #navbar {
      opacity: 1;
    }

    .w-card-custom {
      width: 860px; /* Set your desired width here */
    }
  
    .h-card-custom {
      height: 350px; /* Set your desired height here */
    }
}
@media screen and (max-height: 300px){
    .flex-1{
      font-size: 6px; /* Adjust font size for smaller screens */
    }

    .bigText {
      font-size: 0px; /* Adjust the font size for smaller screens */
    }

    .navbar{
      opacity: 0px;
      transform: scale(0);
    }

    .btn.text-xl {
      font-size: 14px; /* Adjust the value as needed */
      width: auto;
      height: auto;
      justify-content: center;
    }
}
@media screen and (max-width: 470px){
    .flex-1{
      font-size: 6px; /* Adjust font size for smaller screens */
    }

    .bigText {
      font-size: 0px; /* Adjust the font size for smaller screens */
    }

    .navbar{
      transform-origin: center center;
      font-size: 6px;
    }

    .btn.text-xl {
      font-size: 14px; /* Adjust the value as needed */
      width: auto;
      height: auto;
      justify-content: center;
    }

}
@media screen and (max-width: 336px){
    .flex-1{
      font-size: 6px; /* Adjust font size for smaller screens */
    }

    .bigText {
      font-size: 0px; /* Adjust the font size for smaller screens */
    }

    .navbar{
      opacity: 0px;
      transform: scale(0);
    }

    .btn.text-xl {
      font-size: 14px; /* Adjust the value as needed */
      width: auto;
      height: auto;
      justify-content: center;
    }

}