/**/
/* This is for all the pages that are not index.html cus im too slow to Make anything work how its ment to */
/**/





@media screen and (max-width: 1024px) {

  .w-card-custom, .w-card-custom-about {
    width: 100%; /* Adjust the card width to fit the screen */
  }

  .h-card-custom, .h-card-custom-about {
    height: auto; /* Allow the card height to adjust based on content */
  }

  .cardGaps {
    gap: 20px; /* Reduce the gap between cards for smaller screens */
  }

  .card-title {
    font-size: 70px; /* Adjust the font size for card titles on smaller screens */
    transform: translate(0%, -30%);
  }

  .card-text {
    font-size: 40px; /* Adjust the font size for card content on smaller screens */
  }
  .text-white{
    font-size: 40px;
  }
  .card-actions{
    transform: scale(0);
  }
  .badge{
    transform: scale(0);
  }

  .card{
    min-width: 900px;
    max-width: 900px;
    min-height: 900px;
  }

  .btn{
    min-width: 200px;
    min-height: 100px;
    font-size: 50px;
    z-index: 1000;
  }
  .nav-btn{
    font-size: 40px;
  }

  /* Show the navbar on smaller screens */
  .navbar {
    opacity: 1;
    scale: auto;
  }

  .phone-hide{
    opacity: 0;
    font-size: 0px;
  }

  .navbar{
    transform-origin: center center;
  }

  .navbar{
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;
    min-height: 160px;
  }


  .bigText {
    font-size: 0px; /* Adjust the font size for smaller screens */
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  .titeText{
    font-size: 140px;
  }

  .tabs{
    transform: scale(3);
  }


  @keyframes slide-up {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: 0px;
    }
  }
  @keyframes slide-down {
    0% {
        bottom: 0px;
      }
      100% {
        bottom: 0px;
      }
  }
}

@media screen and (max-height: 700px){
}

@media screen and (max-height: 555px){

  .titeText{
    transform: scale(0);
  }

}

@media screen and (max-height: 300px){

  .titeText{
    transform: scale(0);
  }

}

@media screen and (max-width: 470px){

}

@media screen and (max-width: 336px){
}